<div class="row">
  <div>
    <div class="user-icon" style="background-image: url(<%= comment.user.profile_image.url %>);"></div>
    <span><%= comment.user.try(:username) %> at</span>
    <span class="other-font">: <%= comment.created_at.strftime("%e %b %Y %H:%M:%S%p") %></span>
    <span class="comment-detail"><%= comment.comment %></span>
  </div>
</div>
