<div class="row">
  <div class="medium-12 square columns">
    <h4>Hey <%= @user.username %>!</h4>
    <p>Here are your favourites...</p>
  </div>

  <% @user.find_liked_items.in_groups_of(2) do |group| %>
  <div class="row" data-equalizer>
    <% group.compact.each do |festival| %>
    <%= link_to festival_path(festival.id) do %>
    <div class="medium-6 square columns" style="background-image: url(<%= festival.main_image.url %>);" data-equalizer-watch>
      <h2 class="vertical-align">
        <%= festival.title %>
      </h2>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>
