<div class="row" data-equalizer>

<% @months.each do |month| %>

  <%= link_to month_path(month) do %>
    <div class="medium-6 square columns" style="background-image: url(<%= @festivals.sample.third_image.url %>);" data-equalizer-watch>
      <h2 class="vertical-align"><%= month %></h2>
    </div>
  <% end %>

<% end %>

</div>

  
  
