<div class="row" data-equalizer>

<% @genres.each do |genre| %>

  <%= link_to genre_path(genre) do %>
    <div class="medium-6 square columns" style="background-image: url(<%= @festivals.sample.main_image.url %>);" data-equalizer-watch>
      <h2 class="vertical-align"><%= genre %></h2>
    </div>
  <% end %>

<% end %>

</div>