<div class="row" data-equalizer>

<% @genres.each do |genre| %>

  <div class="medium-6 square columns" style="background-image: url(<%= @festivals.sample.main_image.url %>);" data-equalizer-watch>
    <h2 class="vertical-align"><%= link_to genre, genre_path(genre) %></h2>
  </div>

<% end %>

</div>