<h1>Home</h1>

<div class="row" data-equalizer>
  <div class="medium-4 columns" style="background-image: url('http://www.columbusdirect.com/ImageGen.ashx/?Image=/media/1901/music-festival-2012.jpg&width=800&constrain=true&crop=resize');" data-equalizer-watch>
    <h2>Festivals</h2>
  </div>
  <div class="medium-4 columns" style="background-image: royalblue;" data-equalizer-watch>
    <h2>Music</h2>
  </div>
</div>
<div class="row" data-equalizer>
  <div class="medium-4 medium-offset-2 columns" style="background-image: honeydew;" data-equalizer-watch>
    <h2>Country</h2>
  </div>
  <div class="medium-4 medium-offset-2 columns" style="background-image: honeydew;" data-equalizer-watch>
    <h2>Month</h2>
  </div>
</div>
