<div class="row" data-equalizer>

<% @locations.each do |location| %>

  <div class="medium-6 square columns" style="background-image: url(<%= @festivals.sample.main_image.url %>);" data-equalizer-watch>
    <h2 class="vertical-align"><%= link_to location, location_path(location) %></h2>
  </div>

<% end %>

</div>