<div class="row" data-equalizer>

<% @locations.each do |location| %>

  <%= link_to location_path(location) do %>
    <div class="medium-6 square columns" style="background-image: url(<%= @festivals.sample.second_image.url %>);" data-equalizer-watch>
      <h2 class="vertical-align"><%= location %></h2>
    </div>
  <% end %>

<% end %>

</div>