<div class="medium-4 medium-offset-1 square columns" style="background-image: url(<%= festival.image %>);" data-equalizer-watch>
  <h2><%= link_to festival.title, festival_path(festival.id) %></h2>
</div>
