/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: black;
  font-family: "Ridley Grotesk";
 }

h2.vertical-align {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     a {
      color: white;
      text-shadow: 2px 2px #000000;
     }
 }

.example-orbit {
  img {
    width: 100%;
    // background-size: cover;
    // max-height: 400px;
    // background-position: 50% 50%;
  }
}

label {
  color: #ddd;
}

.logo {
  text-align: center;
  img {
    width: 15%;
  }
}

.testdiv {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
}

.user-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%; 
  float: left;
  margin-right: 1em;
}

.comment-detail {
  display: block;
}

.footer {
  padding: 1em;
}

.small-logo {
  height: 43px;
}

#pitch {
  font-size: 23px;
}

.other-font {
  font-family: 'Noto Sans', sans-serif;
}

input[type=text].search-bar {
  background: black;
  border: 2px solid #222222;
  color: white;
}

input[type=text].search-bar:active {
  background: black;
  border: 2px solid #222222;
  color: white;
}

.search-bar-button {
  background: black;
  border: 2px solid #222222;
  color: white;
  margin-top: 7px;
}















